sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: RL7G3B6CQLjj/2h/2Q+A6A/wGOtV4b7nKFqahNmaiykTfWIGlUpg8KHl8ibbjx2uhsnT0HA8Ju/w3wE/nqH17qv0EbD+3B+rjmftmWOx3pXl9Sp3qxMafaQM9rLuUesqhDig/Urvwkey1ZvK3ijky0BvNzMNHK1r4eYPbfnZAVco0xiVvJ9pzKTwzUrsTjM2+zBmGAJqGFznTM+Vnf80PzGKObcR9+81ezH57dgaoY9ndExlfKipvi90CfuLV6Miq5EZXkLmY7dD462uQEAVV6dflqxuIosWs2w8JZ6kRPS5ZmXz5zX8s/nzRQ72POqVVrEKXnVe8x8IMeqzbVTNo3hndsPX98rtRyI2lniivKvmtaaozoakMq07h+BzDYGzjr3XzcWKOPD4dp5NNYgYBEhou/TExEblfcpZPsvnervFGyPqoxfSjbt4idHH/96V+1AptrckCxjy3wZzAObJ8q+ESvePW0Lnq9TMLw4KD/JOmFPxvVn/gYMB/SIFuvN0FiXcRhmQG9JknO0etwpngR6qluUImOUgfjmuQwnmDGJboLkw7+E3igg05B1TnAywx4XbZkqwlGhLQFJn2a93kZ6EjqRYXOUtdvDH8WdQj5tLmBu7+5TLr4sfSunA1b6zqCWbaP21OQCdUvoi/IIM1OgFuzqpsEO/qYwyuCFwFpY=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Other-Things-Being-Equal_1839
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy